/* app css stylesheet */

/* body */
body {
    font-size: 12px;
    font-family: verdana, arial, sans-serif;
    background: url(../img/layout/body-pattern.png) repeat 0 0;
}
/* end body */

/* container */
.my-container{
    width: 95%;
    margin:0 auto;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.05); -moz-box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.05); -webkit-box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.05); -o-box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.05);
}
/* end container */

/* header */
.my-navbar{
    padding-top: 5px;
    background-color: transparent;
    background-image: none;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.my-header-clr{
    border-bottom: 1px dotted #d3d3d3;
}
.my-btn{
    background-color: #32baee;
    background-image: -ms-linear-gradient(top, #32baee, #0487ba);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#32baee), to(#0487ba));
    background-image: -webkit-linear-gradient(top, #32baee, #0487ba);
    background-image: -o-linear-gradient(top, #32baee, #0487ba);
    background-image: -moz-linear-gradient(top, #32baee, #0487ba);
    background-image: linear-gradient(top, #32baee, #0487ba);
    background-repeat: repeat-x;
    border-color: #0088cc #0088cc #0487ba;
}
.my-btn:hover{
    background-color: #32baee;
    background-image: -ms-linear-gradient(bottom, #32baee, #0487ba);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#32baee), to(#0487ba));
    background-image: -webkit-linear-gradient(bottom, #32baee, #0487ba);
    background-image: -o-linear-gradient(bottom, #32baee, #0487ba);
    background-image: -moz-linear-gradient(bottom, #32baee, #0487ba);
    background-image: linear-gradient(bottom, #32baee, #0487ba);
}
.my-nav-login{
    padding-top: 5px;
}
.my-login-btn{
    line-height: 22px !important;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    text-shadow: rgba(0,0,0,0.5) 0px 1px 1px;
    font-size: 12px;
}
/* end header */


/* menu */
.my-menu{
    text-align: center;
    padding: 5px 0;
}
.my-hr{
    margin:0;
}
.my-collapse{
    width: 850px;
    margin:0 auto;
}

.my-menu li{
    margin: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-shadow: none !important;
}
.my-menu a{
    max-width: 120px;
    padding-top: 5px !important;
    height: 32px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #4a4a4a !important;
    background-repeat: repeat-x;
    border-color: #0088cc #0088cc #0487ba;
}
.my-menu li.active a, .my-menu li a:hover{
    background-color: #32baee !important;
    background-image: -ms-linear-gradient(top, #32baee, #0487ba);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#32baee), to(#0487ba));
    background-image: -webkit-linear-gradient(top, #32baee, #0487ba);
    background-image: -o-linear-gradient(top, #32baee, #0487ba);
    background-image: -moz-linear-gradient(top, #32baee, #0487ba);
    background-image: linear-gradient(top, #32baee, #0487ba);
    background-repeat: repeat-x;
    border-color: #0088cc #0088cc #0487ba;
    color: #ffffff !important;
}
.my-btn-navbar{
    line-height: 22px !important;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    text-shadow: rgba(0,0,0,0.5) 0px 1px 1px;
    font-size: 14px;
    background-color: #32baee !important;
    background-image: -ms-linear-gradient(top, #32baee, #0487ba) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#32baee), to(#0487ba)) !important;
    background-image: -webkit-linear-gradient(top, #32baee, #0487ba) !important;
    background-image: -o-linear-gradient(top, #32baee, #0487ba) !important;
    background-image: -moz-linear-gradient(top, #32baee, #0487ba) !important;
    background-image: linear-gradient(top, #32baee, #0487ba) !important;
    background-repeat: repeat-x;
    border-color: #0088cc #0088cc #0487ba;
    color: #ffffff !important;
}
.my-btn-navbar:hover{
    background-color: #0487ba !important;
    background-image: -ms-linear-gradient(top, #32baee, #0487ba) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#32baee), to(#0487ba)) !important;
    background-image: -webkit-linear-gradient(top, #32baee, #0487ba) !important;
    background-image: -o-linear-gradient(top, #32baee, #0487ba) !important;
    background-image: -moz-linear-gradient(top, #32baee, #0487ba) !important;
    background-image: linear-gradient(top, #32baee, #0487ba) !important;
    background-repeat: repeat-x;
    border-color: #0088cc #0088cc #0487ba;
}
/* end menu */

/* Footer */
.my-footer{
    margin: 40px 10px 0 0;
    height: auto;
    background-color: transparent;
    background: url(../img/layout/footer-border.png) repeat-x 0 0;
    padding: 18px 20px 18px 10px;
}
.my-footer-nav {
    float: left;
}
.my-footer-nav ul {
    list-style:none;
    list-style-position: outside;
    margin:0;
}
.my-footer-nav ul li {
    float: left;
    border-right: 1px solid #afaca9;
    padding:0 10px;
    font-size: 10px;
    line-height: 10px;
}
.my-footer-nav ul li a {
    color: #afaca9;
}
.my-footer-nav ul li a:hover {
    color: #878684;
    text-decoration: none;
}
.my-footer-nav ul li.last {
    border-right: 0;
}
.my-footer p.copy {
    font-size: 10px;
    color:#afaca9;
    line-height: 10px;
    float: right;
}
.my-footer p.copy a {
    font-size: 10px;
    color:#00acef;
    line-height: 10px;
    text-decoration: underline;
}
.my-footer p.copy a:hover {
    text-decoration: none;
}
.my-footer p.copy span {
    padding:0 7px;
}
/* end Footer */

/* Modal Login */
.modal{
    width: 280px !important;
    margin-left: -140px !important;
    margin-top: 0 !important;
    top: 100px !important;
}
.my-login-box { width: 260px; font-family: 'Raleway', sans-serif;}
.my-login-box h2{ color:#00acef; font-size: 30px; font-weight: 600; text-shadow: rgba(0,0,0,0.5) 0px 1px 0px;text-align: center; padding-bottom: 5px; }
.my-login-box input.my-field { float:left; width: 200px; padding:0 8px; height: 34px; line-height: 24px;  border: 1px solid #d3d3d3; font-size: 16px; color:#595959; background: #ededed; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; }
.my-login-box ul { list-style:none; list-style-position: outside; }
.my-login-box ul li { float: left; padding:0 2px; font-size: 10px; margin: 5px; }
.my-login-box input.my-field:hover { border-color: #029cdb; }
.my-login-box input.my-field_check{ margin-left: 10px; }
.my-login-box a.forget{ font-size: 14px; padding-right: 30px; float:right}
.my-login-box .my-field-check {font-size: 12px; float:left; padding: 5px 0 0 30px}
.my-login-box .my-btn{width: 80%;height: 33px;margin: 10px 0 10px 30px; font-size: 14px;}
/* end Modal Login*/

/* Main Content */
.my-main-container{
}
.my-hero-unit{
    width: 100%;
    background: url(../img/layout/main-content-bg.jpg) repeat-x;
}
.my-hero-unit2{
    width: 100%;
    background: url(../img/layout/main-content-bg2x.jpg) repeat-x;
}
.homepage-content{
    width: 900px;
    margin:0 auto;
}
.homepage-img{
    float: left;
    width: 43%;
    padding: 15px;
}
.homepage-title{
    width: 47%;
    float: left;
    padding: 10px;
    margin: 60px 0;
    color: #f8f8f8;
    font-family: 'Raleway', sans-serif;
    text-shadow: rgba(0,0,0,0.5) 0px 1px 0px;
}
.homepage-title h2{
    font-size: 56px;
    line-height: 56px;
    font-weight: 700;
}
.homepage-title h4{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}
.homepage-register{
    width: 840px;
    background: #f1f1f1;
    border: 1px solid #e5e5e5;
    padding: 15px;
    margin: 10px auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}
.homepage-register-text{
    float:left;
}
.homepage-register-text h4{
    font-family: 'Raleway', sans-serif;
    line-height: 43px;
    font-size: 17px;
    color:#4a4a4a;
    font-weight:400;
}
.homepage-register-btn{
    float:right;
}
.tutorial-content{
    width: 900px;
    margin: 0 auto;
    text-align: center;
    padding: 3px;
    font-family: 'Raleway', sans-serif;
    color: #f8f8f8;
}
.tutorial-content h2{
    margin:10px;
    text-shadow: rgba(0,0,0,0.5) 0px 1px 0px;
}
.my-btn-group{
    width: 100%;
    margin: 0 auto;
}
.tutorial-content-scope{
    width: 90%;
    margin: 15px auto;
    font-family: 'Raleway', sans-serif;
}
.tutorial-content-img{
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
}
.tutorial-content-img img{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}
.tutorial-content-text{
    width: auto;
    text-align: center;
    margin:10px;
    padding: 20px;
    float: right;
}
.tutorial-content-text h3{
    margin: 20px 0;
}
.my-tutorial-container{
    margin: 10px auto;
    text-align: justify;
    width: auto;
    max-width: 1500px;
    padding: 20px;
}
.my-tutorial-container h1{
    color: #00acef !important;
    font-family: 'Raleway', sans-serif !important;
    text-shadow: rgba(0,0,0,0.5) 0px 1px 0px;
    font-size:30px;
    margin-bottom: 20px;
}
.my-tutorial-container p{
    font-family: 'Raleway', sans-serif !important;
    color: #555555;
    font-size: 16px;
    line-height: 20px;
}
.my-tutorial-container li{
    font-family: 'Raleway', sans-serif !important;
    color: #555555;
    font-size: 14px;
    margin-bottom: 5px;
}
.my-definition{
    text-decoration: underline;
}
.my-tutorial-img{
    width: 300px;
    margin:20px 0 20px 30px;
    border: 1px #555555 dashed;
}
.my-tutorial-img p{
    margin-top:5px;
}
.my-patterns{
    width: 95% !important;
    margin: 20px auto;
}
.my-back-to-patterns{
    width: 95% !important;
    margin: 0 auto;
    text-align: right;
}
.text-align-center{
    text-align: center;
}

.my-charts-filters{
    width: 100%;
    text-align: center;
}
.chart{
    background-color: #DDDDDD;
    width: 90%;
    margin: 0 auto;
    height: 480px;
    position: relative;
}
.my-charts-legend{
    text-align: right;
    width: auto;
    max-width: 90%;
    margin: 10px 5% 10px 0;
    float: right;
    line-height: 30px;
}
.my-charts-legend span{
    margin: 0 10px;
    font-weight: 600;
}
.arrow{
    top: 220px;
    position: relative;
    z-index: 999;
}
.arrow-right{
    right: 5%;
}
.arrow-wrapper{
    position: absolute;
    width: 100%;
}
.arrow a{
    width: 30px;
    margin: 3px;
}
span.title{
    font-size: 14px;
    background-color: #4a4a4a;
    color: #FFFFFF;
    padding: 5px;
}
.my-charts-fundamental{
    text-align: left;
    width: auto;
    max-width: 90%;
    margin: 30px 5px 0 5%;
    float: left;
    line-height: 30px;
}
.my-charts-fundamental div{
    margin: 0 10px;
}
.my-charts-fundamental span{
    font-weight: 600;
}
.pricing-content{
    text-align: center;
    width: 800px;
    margin: 10px auto;
    padding: 3px;
    font-family: 'Raleway', sans-serif;
    color: #f8f8f8;
}
.price-per-view{
    float: left;
    padding: 5px;
    width: 350px;
}
.price-per-view h3{
    text-align: center;
    margin: 10px;
    font-size: 24px;
}
.price-per-view table{
    font-size: 16px;
    font-weight: 500;
    background-color: #FFFFFF;
    color: #4a4a4a;
}
.price-per-view td{
    text-align: center;
}
.price-per-view table:hover{
    background-color: #FFFFFF;
    color: #4a4a4a;
}

.price-per-package{
    float: right;
    padding: 5px;
    width: 400px;
}
.price-per-package h3{
    text-align: center;
    margin: 10px;
    font-size: 24px;
}
.price-per-package table{
    font-size: 16px;
    font-weight: 500;
    background-color: #FFFFFF;
    color: #4a4a4a;
}
.price-per-package table:hover{
    background-color: #FFFFFF;
    color: #4a4a4a;
}
.price-per-package thead td{
    text-align: center;
    font-weight: 600;
}
.price-per-package td{
    text-align: center;
}
.my-charts-legend .title, .my-charts-fundamental .title{
    background-color: #32baee;
    background-image: -ms-linear-gradient(top, #32baee, #0487ba);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#32baee), to(#0487ba));
    background-image: -webkit-linear-gradient(top, #32baee, #0487ba);
    background-image: -o-linear-gradient(top, #32baee, #0487ba);
    background-image: -moz-linear-gradient(top, #32baee, #0487ba);
    background-image: linear-gradient(top, #32baee, #0487ba);
    background-repeat: repeat-x;
    border-color: #0088cc #0088cc #0487ba;
}
/* end Main Content


/* Wide Desktop */
@media (min-width: 1199px){
    .my-collapse{
        width: 1000px;
    }
    .my-menu li{
        padding:0 10px;
    }
    .my-tutorial-img{
        width: 350px;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .navbar .btn-navbar{
        display: none;
    }
    .nav-collapse, .nav-collapse.collapse {
        overflow: visible;
        height: auto;
        position: relative;
        display: block;
    }
    .nav-collapse .nav > li {
        display: block;
        float: left;
    }
    .nav-collapse .nav > li > a{
        font-weight: 500;
        font-size: 13px;
        max-width: 100px;
        padding: 10px 5px;
    }
    .my-collapse{
        width: 680px;
    }
    .my-footer-nav{
        margin-bottom: 10px;
    }
    .homepage-content{
        width: auto;
    }
    .homepage-title h2{
        font-size: 46px;
        line-height: 46px;
        font-weight: 700;
    }
    .homepage-title h4{
        margin-top: 10px;
        font-size: 16px;
        font-weight: 500;
    }
    .homepage-register{
        width: auto;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        padding: 10px;
    }
    .homepage-register-text h4{
        font-size: 14px;
    }
    .homepage-register-btn a{
        margin-top: 5px;
        line-height: 12px;
        font-size: 12px;
    }
    .tutorial-content{
        width: 700px;
    }
    .tutorial-content-img{
        width: 250px;
    }
    .my-btn-group button{
        width: 85px;
        height: 50px;
        font-size: 11px;
    }
    .tutorial-content-text{
        width: 300px;
        margin:10px;
        padding: 10px;
    }
    .tutorial-content-text h3{
        font-size: 14px;
    }
    .my-tutorial-img{
        width: 280px;
    }
    .pricing-content{
        width: 100%;
    }
    .price-per-view{
        float: none;
        width: 400px;
        margin: -10px auto -20px;
    }
    .price-per-view table, .price-per-package table{
        font-size: 12px;
    }
    .price-per-view h3, .price-per-package h3{
        font-size: 18px;
    }
    .price-per-package{
        float: none;
        width: 400px;
        clear: both;
        margin: 0 auto;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .my-nav-login{
        margin-top: 2px !important;
    }
    body{
        padding: 0;
    }
    .navbar .btn-navbar {
        clear: both;
        float: none;
    }
    .navbar .btn-navbar .icon-bar{
        margin: 2px auto;
    }
    .my-menu > li > a{
        max-width: 100%;
        height: auto;
        font-weight: 400 !important;
        font-size: 14px !important;
    }
    .brand img{
        width: 180px;
    }
    .my-nav-login .my-btn{
        padding: 3px 5px;
        font-size: 11px;
        line-height: 18px !important;
    }
    .my-nav-login img{
        width: 26px;
    }
    .my-collapse{
        width: auto;
    }
    .my-footer-nav{
        margin-bottom: 10px;
    }
    .my-footer-nav li a{
        line-height: 16px;
    }
    .homepage-content{
        width: auto;
    }
    .homepage-title{
        margin: 40px 0;
    }
    .homepage-title h2{
        font-size: 40px;
        line-height: 40px;
        font-weight: 700;
    }
    .homepage-title h4{
        margin-top: 10px;
        font-size: 14px;
        font-weight: 500;
    }
    .homepage-register{
        width: auto;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        padding: 5px;
    }
    .homepage-register-text, .homepage-register-btn{
        width: 100%;
        text-align: center;
    }
    .homepage-register-text h4{
        font-size: 14px;
        text-align: center;
        line-height: 20px;
    }
    .homepage-register-btn a{
        padding: 5px;
        line-height: 20px;
        font-size: 12px;
        height: 20px;
        margin: 5px;
    }
    .tutorial-content{
        width: 590px;
    }
    .tutorial-content-img{
        width: 200px;
    }
    .my-btn-group button{
        width: 70px;
        height: 60px;
        font-size: 11px;
    }
    .tutorial-content-text{
        width: 275px;
        margin:5px;
        padding: 5px;
    }
    .tutorial-content-text h3{
        font-size: 14px;
        margin:10px 0;
    }
    .my-tutorial-img{
        width: 220px;
        margin:10px;
    }
    .my-tutorial-container{
        margin: 10px;
    }
    .my-tutorial-container h1{
        font-size: 22px;
    }
    .my-tutorial-container p{
        font-size: 14px;
    }
    .pricing-content{
        width: 100%;
    }
    .price-per-view{
        float: none;
        width: 400px;
        margin: -10px auto -20px;
    }
    .price-per-view table, .price-per-package table{
        font-size: 12px;
    }
    .price-per-view h3, .price-per-package h3{
        font-size: 18px;
    }
    .price-per-package{
        float: none;
        width: 400px;
        clear: both;
        margin: 0 auto;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 600px) {
    .brand img{
        width: 150px;
    }
    .homepage-title{
        margin: 15px 0;
    }
    .homepage-img{
        padding: 5px;
    }
    .homepage-title h2{
        font-size: 32px;
        line-height: 32px;
        font-weight: 700;
    }
    .homepage-title h4{
        margin-top: 10px;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
    }
    .tutorial-content{
        width: 100%;
    }
    .my-btn-group{
        margin:0 5px;
        width: 98%;
    }
    .my-btn-group button{
        width: 70px;
    }
    .tutorial-content-scope{
        width: 300px;
    }
    .tutorial-content-text{
        width: 100%;
    }
    .tutorial-content-img{
        width: 290px;
    }
    .tutorial-content-text h2{
        margin: 0;
        padding: 0;
    }
    .tutorial-content-text h3{
        margin: 0;
        padding: 0;
        font-size: 14px;
    }
    .tutorial-content-text h4{
        margin: 0;
        padding: 0;
        font-size: 12px
    }
    .my-tutorial-img{
        width: 240px;
        margin:10px;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .brand, .brand img{
        width: 200px !important;
        margin: 0 auto !important;
        float: none !important;
        line-height: 10px;
        padding-bottom: 0 !important;
    }
    .modal{
        margin: 0 auto !important;
        margin-top: 0 !important;
        top: 50px !important;
    }
    .homepage-img{
        float:none;
        width: 50%;
        margin:10px auto 0 auto;
    }
    .homepage-title{
        float:none;
        width: 90%;
        margin:0 auto;
        text-align: center;
    }

    .price-per-view, .price-per-package{
        margin-top: -20px;
        margin-bottom: -20px;
        width: 280px;
    }

}