<div class="my-main-container" style="width:auto">   
      <select ng-model="filters.market">
        <option value="" selected="selected">Select a market</option>
        <option value="NASDAQ">NASDAQ</option>
        <option value="NYSE">NYSE</option>
        <option value="LSE">LSE</option>
        <option value="MLSE">MLSE</option>
        <option value="HKEX">HKEX</option>
        <option value="PAR">PAR</option>
    </select>
		
    <select ng-model="filters.pattern">
        <option value="" selected="selected">Select a pattern</option>
        <option value="CLASSIC BUBBA">BUBBA</option>
        <option value="REVERSE BUBBA">REVERSE BUBBA</option>
        <option value="SUPPORT">SUPPORT</option>
        <option value="RESISTANCE">RESISTANCE</option>
        <option value="CLASSIC ESGI">ESGI</option>
        <option value="REVERSE ESGI">REVERSE ESGI</option>
    </select>      
      
    <select ng-model="filters.date">
        <option value="" selected="selected">Select a date</option>
        <option value="2013-02-08T00:00:00.000Z">Feb 8, 2013</option>
        <option value="2013-02-07T00:00:00.000Z">Feb 7, 2013</option>
    </select>         

    <select ng-model="selectedAlarm" 
                ng-options="alarm.symbol for alarm in filteredAlarms">
        <option value="" selected="selected">Select an alarm</option>    
    </select> 
    
    <button ng-click="next()">next</button>
    <button ng-click="previous()">previous</button>
    
    <div id="chartdiv" class="chart"></div>

    <ul class="specs">
      <li>
        <span>Fundamental Data</span>
        <dl>
          <dt>Market</dt>
          <dd>{{alarm.fundamentalData.market}}</dd>
        </dl>
        <dl>
          <dt>Pattern</dt>
          <dd>{{alarm.fundamentalData.pattern}}</dd>
        </dl>
        <dl>
          <dt>Date</dt>
          <dd>{{alarm.fundamentalData.date | date:'medium'}}</dd>
        </dl>
        <dl>
          <dt>Symbol</dt>
          <dd>{{alarm.fundamentalData.symbol}}</dd>
        </dl>
        <dl>
          <dt>Name</dt>
          <dd>{{alarm.fundamentalData.name}}</dd>
        </dl>
        <dl>
          <dt>Industry</dt>
          <dd>{{alarm.fundamentalData.industry}}</dd>
        </dl>
        <dl>
          <dt>Sector</dt>
          <dd>{{alarm.fundamentalData.sector}}</dd>
        </dl>
        <dl>
          <dt>PE</dt>
          <dd>{{alarm.fundamentalData.pe}}</dd>
        </dl>
        <dl>
          <dt>Liquidity</dt>
          <dd>{{alarm.fundamentalData.liquidity}}</dd>
        </dl>
      </li>
      <li>
        <span>Legend</span>
        <dl>
          <dt>Open</dt>
          <dd>{{open}}</dd>
        </dl>
        <dl>
          <dt>High</dt>
          <dd>{{high}}</dd>
        </dl>
        <dl>
          <dt>Low</dt>
          <dd>{{low}}</dd>
        </dl>
        <dl>
          <dt>Close</dt>
          <dd>{{close}}</dd>
        </dl>
        <dl>
          <dt>Volume</dt>
          <dd>{{volume}}</dd>
        </dl>      
      </li>
    </ul>
      
      
      
</div>
