<div class="my-main-container">
    <div class="my-charts-filters">
        <select ng-model="filters.interval">
            <option value="" selected="selected">Select an interval</option>
            <option value="Daily">Daily</option>
            <option value="60m" disabled="disabled">60 minutes (Not yet available)</option>
            <option value="10m" disabled="disabled">10 minutes (Not yet available)</option>
        </select>
        <select ng-model="filters.market" ng-options="market for market in alarmFilterOptions.markets">
            <option value="" selected="selected">Select a market</option>
        </select>

        <select ng-model="filters.pattern" ng-options="pattern for pattern in alarmFilterOptions.patterns">
            <option value="" selected="selected">Select a pattern</option>
        </select>

        <select ng-model="filters.date" ng-options="date | date:'mediumDate' for date in alarmFilterOptions.dates">
            <option value="" selected="selected">Select a date</option>
        </select>

        <select ng-model="selectedAlarm" ng-options="alarm.symbol for alarm in filteredAlarms">
            <option value="" selected="selected">Select an alarm</option>
        </select>

    </div>

    <div class="clearfix"></div>

    <div class="my-charts-legend">
        <div class="pull-left"><span class="title">Legend</span></div>
        <div class="pull-left"><span>Open:</span> {{open}}</div>
        <div class="pull-left"><span>High: </span>{{high}}</div>
        <div class="pull-left"><span>Low: </span>{{low}}</div>
        <div class="pull-left"><span>Close: </span>{{close}}</div>
        <div class="pull-left"><span>Volume: </span>{{volume}}</div>
        <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>

    <div class="arrow-wrapper">
        <div class="pull-left arrow arrow-left">
            <a ng-click="previous()" class="btn btn-default"><i class="icon-arrow-left"></i></a>
        </div>
        <div class="pull-right arrow arrow-right">
            <a ng-click="next()" class="btn btn-default"><i class="icon-arrow-right"></i></a>
        </div>
    </div>

    <div>
        <div id="chartdiv" class="chart">
            <h1 style="padding: 50px;text-align: center">Please choose an Interval, Market, Pattern, Date and Alarm</h1> 
        </div>
    </div>


    <div class="clearfix"></div>

    <div class="my-charts-fundamental">
        <div class="pull-left"><span class="title">Fundamental Data</span></div>
        <div class="pull-left"><span>Symbol:</span> {{alarm.fundamentalData.symbol}}</div>
        <div class="pull-left"><span>Name: </span>{{alarm.fundamentalData.name}}</div>
        <div class="pull-left"><span>Industry: </span>{{alarm.fundamentalData.industry}}</div>
        <div class="pull-left"><span>Sector: </span>{{alarm.fundamentalData.sector}}</div>
        <div class="pull-left"><span>PE: </span>{{alarm.fundamentalData.pe}}</div>
        <div class="pull-left"><span>Liquidity: </span>{{alarm.fundamentalData.liquidity}}</div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>
