<div class="container my-main-container">
	<div class="hero-unit my-hero-unit">
		<img src="img/layout/mac-img.png" class="my-mac" alt="Chart Pattern" />
        <div class="my-heading">
            <h2>Yard Stock Chart Patterns</h2>
            <h4>A chart pattern recognition and selection system</h4>
        </div>
	</div>
</div>
<div class="my-featured">
    <h4>Welcome to <strong>Yard Charts.</strong> Register and gain access to the latest stock chart patterns
    <a href="#" class="btn btn-primary btn-large my-btn my-register-btn">Register&nbsp;Here</a></h4>
</div>
