<div class="my-main-container">
	<div class="my-hero-unit">

        <div class="homepage-content">
            <div class="homepage-img">
                <img src="img/layout/stockpatterns_homepage.png" alt="Yard Charts Stock Patterns" title="Yard Charts Stock Patterns"/>
            </div>
            <div class="homepage-title">
                <h2>Yard Stock Chart Patterns</h2>
                <h4>A chart pattern recognition and selection system</h4>
            </div>
            <div class="clearfix"></div>
        </div>

	</div>

    <div class="homepage-register">
        <div class="homepage-register-text">
            <h4>Welcome to <strong>Yard Charts.</strong> Register and gain access to the latest stock chart patterns</h4>
        </div>
        <div class="homepage-register-btn">
            <a href="#" class="btn btn-primary btn-large my-btn my-register-btn">Register Here</a>
        </div>
        <div class="clearfix"></div>
    </div>

</div>


