<div class='my-login-box'>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2>Login</h2>
    </div>
    <form action='' method='post'>
        <ul>
            <li><input type='text' class='my-field' placeholder='username' title='Username' /></li>
            <li><input type='password' class='my-field' placeholder='password' title='Password' /></li>
        </ul>
        <div class='clearfix'></div>
        <a href='#' class='right forget'>Forgot your password?</a><br />
        <div class='clearfix'></div>
        <span class='my-field-check'><input type='checkbox'> Remember Me</span><br />
        <input type='submit' class='btn btn-primary btn-small my-btn ' value='Login' />
    </form>
</div>

