<div class="my-container">
    <div class="my-hero-unit">

            <div class="homepage-content">
                <div class="homepage-img">
                    <img src="img/layout/not-found.png" alt="Page not found" title="Page not found"/>
                </div>
                <div class="homepage-title">
                    <h1>The page you were looking for does not exist</h1>
                </div>
                <div class="clearfix"></div>
            </div>


        </div>
        <div class="clearfix"></div>

</div>