<div class="my-main-container">

    <div class="my-hero-unit2" style="height: 450px;">

        <div class="pricing-content" style="width: 1000px;">

            <div class="price-per-package" style="width:300px;margin:0 auto;float:none;">
                <h3>Plans & Pricing</h3>
            </div>

            <div class="clearfix"></div>

            <div style="border: 1px solid #4a4a4a;background-color: #FFFFFF;color: #4a4a4a;float:left;width:auto;padding: 10px;margin:5px;border-radius: 5px;">
            <div style="border: 1px solid #4a4a4a;background-color: #FFFFFF;color: #4a4a4a;float:left;width:auto;padding: 10px;margin:5px;border-radius: 5px;">
                    <h3 style="font-size: 18px;margin-bottom: 10px;">Right Triangles</h3>

                <h4 style="font-size: 16px;"><span class="pull-left">10 Views</span><span class="pull-right">60$</span></h4>
                <br><br>
                    <a href="#" class="btn my-btn" style="color: #FFFFFF">Buy</a>
            </div>

            <div style="border: 1px solid #4a4a4a;background-color: #FFFFFF;color: #4a4a4a;float:left;width:auto;padding: 10px;margin:5px;border-radius: 5px;">
                <h3 style="font-size: 18px;margin-bottom: 10px;">Right Triangles</h3>

                <h4 style="font-size: 16px;"><span class="pull-left">20 Views</span><span class="pull-right">110$</span></h4>
                <br><br>
                <a href="#" class="btn my-btn" style="color: #FFFFFF">Buy</a>
            </div>

                <p style="">Above 20 views on increment of 10: 5$ per view.</p>

            </div>

            <div style="border: 1px solid #4a4a4a;background-color: #FFFFFF;color: #4a4a4a;float:left;width:auto;padding: 10px;margin:5px;border-radius: 5px;">
                <div style="border: 1px solid #4a4a4a;background-color: #FFFFFF;color: #4a4a4a;float:left;width:auto;padding: 10px;margin:5px;border-radius: 5px;">
                    <h3 style="font-size: 18px;margin-bottom: 10px;">End Sweeps</h3>

                    <h4 style="font-size: 16px;"><span class="pull-left">10 Views</span><span class="pull-right">40$</span></h4>
                    <br><br>
                    <a href="#" class="btn my-btn" style="color: #FFFFFF">Buy</a>
                </div>

                <div style="border: 1px solid #4a4a4a;background-color: #FFFFFF;color: #4a4a4a;float:left;width:auto;padding: 10px;margin:5px;border-radius: 5px;">
                    <h3 style="font-size: 18px;margin-bottom: 10px;">Right Triangles</h3>

                    <h4 style="font-size: 16px;"><span class="pull-left">20 Views</span><span class="pull-right">70$</span></h4>
                    <br><br>
                    <a href="#" class="btn my-btn" style="color: #FFFFFF">Buy</a>
                </div>

                <p style="">Above 20 views on increment of 10: 3$ per view.</p>

            </div>

            <div style="border: 1px solid #4a4a4a;background-color: #FFFFFF;color: #4a4a4a;float:left;width:auto;padding: 10px;margin:5px;border-radius: 5px;">
                <h3 style="font-size: 18px;margin-bottom: 10px;">Monthly Subscription</h3>

                <h4 style="font-size: 16px;"><span class="pull-left">Unlimited Access</span><span class="pull-right">200$</span></h4>
                <br><br>
                <a href="#" class="btn my-btn" style="color: #FFFFFF">Buy</a>
            </div>

            <div class="clearfix" style="margin: 10px 0"></div>

            <div style="border: 1px solid #4a4a4a;background-color: #FFFFFF;color: #4a4a4a;float:left;width:auto;padding: 10px;margin:5px;border-radius: 5px;width: 130px;height: 130px;">
                <h3 style="font-size: 18px;margin-bottom: 10px;">Bottom Right Triangle</h3>

                <h4 style="font-size: 16px;"><span class="pull-left">Per View</span><span class="pull-right">8$</span></h4>
                <br><br>
                <a href="#" class="btn my-btn" style="color: #FFFFFF">Buy</a>
            </div>

            <div style="border: 1px solid #4a4a4a;background-color: #FFFFFF;color: #4a4a4a;float:left;width:auto;padding: 10px;margin:5px;border-radius: 5px;width: 130px;height: 130px;">
                <h3 style="font-size: 18px;margin-bottom: 10px;">Top Right Triangle</h3>

                <h4 style="font-size: 16px;"><span class="pull-left">Per View</span><span class="pull-right">5$</span></h4>
                <br><br>
                <a href="#" class="btn my-btn" style="color: #FFFFFF">Buy</a>
            </div>

            <div style="border: 1px solid #4a4a4a;background-color: #FFFFFF;color: #4a4a4a;float:left;width:auto;padding: 10px;margin:5px;border-radius: 5px;width: 130px;height: 130px;">
                <h3 style="font-size: 18px;margin-bottom: 10px;">Bottom End Sweep</h3>

                <h4 style="font-size: 16px;"><span class="pull-left">Per View</span><span class="pull-right">5$</span></h4>
                <br><br>
                <a href="#" class="btn my-btn" style="color: #FFFFFF">Buy</a>
            </div>

            <div style="border: 1px solid #4a4a4a;background-color: #FFFFFF;color: #4a4a4a;float:left;width:auto;padding: 10px;margin:5px;border-radius: 5px;width: 130px;height: 130px;">
                <h3 style="font-size: 18px;margin-bottom: 10px;">Top End Sweep</h3>

                <h4 style="font-size: 16px;"><span class="pull-left">Per View</span><span class="pull-right">5$</span></h4>
                <br><br>
                <a href="#" class="btn my-btn" style="color: #FFFFFF">Buy</a>
            </div>

            <div style="border: 1px solid #4a4a4a;background-color: #FFFFFF;color: #4a4a4a;float:left;width:auto;padding: 10px;margin:5px;border-radius: 5px;width: 130px;height: 130px;">
                <h3 style="font-size: 18px;margin-bottom: 10px;">Support</h3>

                <h4 style="font-size: 16px;"><span class="pull-left">Per View</span><span class="pull-right">2$</span></h4>
                <br><br>
                <a href="#" class="btn my-btn" style="color: #FFFFFF">Buy</a>
            </div>

            <div style="border: 1px solid #4a4a4a;background-color: #FFFFFF;color: #4a4a4a;float:left;width:auto;padding: 10px;margin:5px;border-radius: 5px;width: 130px;height: 130px;">
                <h3 style="font-size: 18px;margin-bottom: 10px;">Resistance</h3>

                <h4 style="font-size: 16px;"><span class="pull-left">Per View</span><span class="pull-right">2$</span></h4>
                <br><br>
                <a href="#" class="btn my-btn" style="color: #FFFFFF">Buy</a>
            </div>



            <div class="clearfix"></div>
        </div>
    </div>
</div>