<div class="container my-main-container" style="height:auto;">

    <h2 class="my-h2-header text-align-center">Pricing Page</h2>

    <div class="my-pricing-row">

        <div class="pull-left">
            <h3>Price List per view</h3>
            <ul>
                <li>Bottom Square Triangle: 8$ Per View</li>
                <li>Top Square Triangle: 5$ Per View</li>
                <li>Bottom End Sweep: 5$ Per View</li>
                <li>Top End Sweep: 5$ Per View</li>
                <li>Support: 2$ Per View</li>
                <li>Resistance: 2$ Per View</li>
            </ul>
        </div>

        <div class="pull-right">
            <h3>Packages</h3>

            <h4>Square Triangles</h4>
            <p>10 Square Triangles views: 60$</p>
            <p>20 Square Triangles views: 110$</p>
            <p>Above 20 views on increments of 10: 5$ per view</p>

            <h4>End Sweeps</h4>
            <p>10 End Sweeps views: 40$</p>
            <p>20 End Sweeps views: 70$</p>
            <p>Above 20 views on increments of 10: 3$ per view</p>
        </div>

    </div>


</div>