<div class="my-main-container">

    <div class="my-hero-unit2">

        <div class="pricing-content">
            <h2>Pricing</h2>

            <div class="price-per-view">
                <h3>Price List per view</h3>

                <table class="table table-bordered">
                    <tr>
                        <td>Bottom Right Triangle</td><td>8$ Per View</td>
                    </tr>
                    <tr>
                        <td>Top Right Triangle</td><td>5$ Per View</td>
                    </tr>
                    <tr>
                        <td>Bottom End Sweep</td><td>5$ Per View</td>
                    </tr>
                    <tr>
                        <td>Top End Sweep</td><td>5$ Per View</td>
                    </tr>
                    <tr>
                        <td>Support</td><td>2$ Per View</td>
                    </tr>
                    <tr>
                        <td>Resistance</td><td>2$ Per View</td>
                    </tr>
                </table>

            </div>

            <div class="price-per-package">
                <h3>Packages</h3>

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <td colspan="2">Monthly subscription</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Unlimited access</td><td>200$</td>
                    </tr>
                    <thead>
                    <tr>
                        <td colspan="2">Right Triangles</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>10 Right Triangles views</td><td>60$</td>
                    </tr>
                    <tr>
                        <td>20 Right Triangles views</td><td>110$</td>
                    </tr>
                    <tr>
                        <td>Above 20 views on increments of 10</td><td>5$ per view</td>
                    </tr>
                    </tbody>
                    <thead>
                    <tr>
                        <td colspan="2">End Sweeps</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>10 End Sweeps views</td><td>40$</td>
                    </tr>
                    <tr>
                        <td>20 End Sweeps views</td><td>70$</td>
                    </tr>
                    <tr>
                        <td>Above 20 views on increments of 10</td><td>3$ per view</td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>