<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->

      Sort by:
      <select ng-model="orderProp">
        <option value="market">Market</option>
        <option value="pattern">Pattern</option>
      </select>
      
			Market:
      <select ng-model="marketFilter">
        <option value="">Any</option>
				<option value="NASDAQ">NASDAQ</option>
				<option value="NYSE">NYSE</option>
				<option value="LSE">LSE</option>
				<option value="MLSE">MLSE</option>
				<option value="HKEX">HKEX</option>
				<option value="PAR">PAR</option>
			</select>
		
      Pattern:
			<select ng-model="typeFilter">
        <option value="">Any</option>
				<option value="CLASSIC BUBBA">BUBBA</option>
				<option value="REVERSE BUBBA">REVERSE BUBBA</option>
				<option value="SUPPORT">SUPPORT</option>
				<option value="RESISTANCE">RESISTANCE</option>
				<option value="CLASSIC ESGI">ESGI</option>
				<option value="REVERSE ESGI">REVERSE ESGI</option>
			</select>      

    </div>
    <div class="span10">
      <!--Body content-->

      <ul class="products">
        <li ng-repeat="product in products | filter:{market: marketFilter, type: typeFilter} |  orderBy:orderProp" class="thumbnail">
          <a href="#/products/{{product.id}}" class="thumb"><img ng-src="{{product.imageUrl}}"></a>
          <p>Market: {{product.market}}</p>
          <p>Type: {{product.type}}</p>
          <p>Date: {{product.date}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>
