<div class="my-main-container">
    <div class="my-hero-unit2">

        <div class="tutorial-content">
            <h2>Implementation Techniques Tutorial</h2>

            <div class="btn-group my-btn-group">
                <button class="btn {{isActiveBtn(btn.name)}}" ng-repeat="btn in applicationButtons" ng-click="switchBtn(btn.name,btn.ref,btn.imgurl)">
                   {{btn.name}}
                </button>
            </div>

            <div class="tutorial-content-scope">
                <div class="tutorial-content-text pull-right">
                    <h2>{{selectedBtn}}</h2>

                    <h3>Click on the image to access this pattern tutorial</h3>
                </div>
                <div class="tutorial-content-img pull-left">
                    <a href="#/{{selectedUrl}}"><img ng-src="{{selectedImgUrl}}" class="pull-left"></a>
                </div>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>