<!doctype html>
<html lang="en" ng-app="shop">
<head>
<meta charset="utf-8">
<title>3WD Py View</title>
<style>
	#main{
		border: 1px solid black;
		width: 1000px;
		min-height: 150px;
		margin-left: auto;
		margin-right: auto;
		background-color: lightgreen;		
	}
</style>
</head>
<body>
<div id='main'> 
	<ul>
		<li><a href='/product'>Product list</a></li>
		
	</ul>
	<br><br>
	<form method='post' action='/product' enctype='multipart/form-data'>
		<input type="file" name="upload">
		<br>
		<input type="submit" value="Press">
	</form>
	<a href='/'>Voltar ao inicio.</a>
</div>
</body>
</html>