<div class="my-tutorial-container">


    <h1>Bottom Right Triangle</h1>


    <p class="my-definition">Definition:</p>
    <p>Bottom Right Triangle is a  Yard chart pattern comparable to an imaginary right-angled triangle, it is made up two sides at a  90 degree angle to each other, the are linked by a hypotenuse. In the particular field of financial technical analysis we make the following associations:</p>
        <div class="my-tutorial-img pull-right">
            <a href="img/tutorial/bottom_square_triangle_exampleA.png" target="_blank"><img src="img/tutorial/bottom_square_triangle_exampleA.png"/></a>
            <p class="text-align-center">Picture A</p>
        </div>

    <ol>
        <li><span class="blue bold">LONG SIDE</span>: is the horizontal line drawn by uniting two or more approximately  equal market highs in a given temporal segment . See line 1, in picture A</li>
        <li><span class="blue bold">SHORT SIDE</span>: is the imaginary vertical line whose high is equal to the distance from the the Horizontal line and the market low formed beneath the horizontal. See line 2, in picture A</li>
        <li><span class="blue bold">HYPOTENUSE</span>: is the imaginary sloping line that results by linking the market lows corresponding to the bounces formed under the horizontal. See line 3, in picture A</li>
    </ol>


    <br>
    <p>The ideal model of Bottom Right Triangle has the following characteristics:</p>
    <p>- The bounces under the horizontal line must be at least 2, preferably three, and each corresponding market low starting from left  must be in ascending order.</p>
    <p>- Any of these bounces are on average preferable when the velocity from the horizontal to the market low is  less  than the up velocity from the low back to the horizontal. This will result in the down bars  from the horizontal to the low being more/equal in number than the up  bars. Not all bounces in a triangle will always be like this but it is important that the last bounce before the break out  presents this characteristic. On average these will be better triangles than the rest.</p>
    <div class="clearfix"></div>
        <div class="my-tutorial-img pull-right">
            <a href="img/tutorial/bottom_square_triangle_exampleB.png" target="_blank"><img src="img/tutorial/bottom_square_triangle_exampleB.png" /></a>
            <p class="text-align-center">Picture B</p>
        </div>

    <br>
    <p>- The formation of a Bottom Right Triangle is confirmed when the market <span class="green bold">breaks</span> and closes above the horizontal line, having previously formed at least two <span class="blue bold">bounces</span>. At this point we have a buy signal, and a stop loss must be placed just below the low of the last <span class="blue bold">bounce</span> before the break out. See picture B that depicts all these properties.</p>
    <p>Below are shown 10 real Bottom Right triangles found by Yard Charts in the past(Nasdaq, Nyse), which have successfully performed from the day of the buy alarm. That means  the market in the particular stock has risen a distance  at least equal three times  the distance from the horizontal to the stop, starting from the horizontal line, and without hitting the stop level. The relevant <span class="blue bold">bounces</span> and segments are shown in each picture. The <span class="blue bold">bounce</span> segments and colours, are shown exactly as they appear on the alarm section(Trading Patterns) of this web site.</p>
    <div class="clearfix"></div>

        <div class="my-patterns">
            <a href="img/tutorial/China.png" target="_blank"><img src="img/tutorial/China.png" alt="CAF - Morgan Stanley China A Share Fund, Inc." title="CAF - Morgan Stanley China A Share Fund, Inc."/></a>
        </div>
        <div class="my-patterns">
            <a href="img/tutorial/Digimarc_Corp.png" target="_blank"><img src="img/tutorial/Digimarc_Corp.png" alt="DMRC - Digimark Corp" title="DMRC - Digimark Corp"/></a>
        </div>
        <div class="my-patterns">
            <a href="img/tutorial/NOA.png" target="_blank"><img src="img/tutorial/NOA.png" alt="NOA - North American Energy Partners Inc." title="NOA - North American Energy Partners Inc."/></a>
        </div>
        <div class="my-patterns">
            <a href="img/tutorial/Safeway.png" target="_blank"><img src="img/tutorial/Safeway.png" alt="SWY - Safeway Inc." title="SWY - Safeway Inc."/></a>
        </div>
        <div class="my-patterns">
            <a href="img/tutorial/Teradyne.png" target="_blank"><img src="img/tutorial/Teradyne.png" alt="TER - Teradyne, Inc" title="TER - Teradyne, Inc"/></a>
        </div>
        <div class="my-patterns">
            <a href="img/tutorial/United_Continental.png" target="_blank"><img src="img/tutorial/United_Continental.png" alt="UAL - United Continental Holdings Inc" title="UAL - United Continental Holdings Inc"/></a>
        </div>
        <div class="my-patterns">
            <a href="img/tutorial/Zynga.png" target="_blank"><img src="img/tutorial/Zynga.png" alt="Zynga - Zynga Inc" title="Zynga - Zynga Inc"/></a>
        </div>



    <div class="my-back-to-patterns">
        <a href="#/tutorial">View More Models</a>
    </div>

</div>
