<div class="container my-tutorial-container">

    <h1>Top Right Triangle</h1>

    <p class="my-definition">Definition:</p>
    <p>Top Right Triangle is a  Yard chart pattern comparable to an imaginary right-angled triangle, it is made up two sides at a  90 degree angle to each other, the are linked by a hypotenuse. In the particular field of financial technical analysis we make the following associations:</p>

        <div class="my-tutorial-img pull-right">
            <img src="img/tutorial/top_square_triangle_exampleA.png" />
            <p class="text-align-center">Picture A</p>
        </div>

    <ol>
        <li>Long side: is the horizontal line drawn by uniting two or more approximately  equal market lows in a given temporal segment . See line 1, in picture A</li>
        <li>Short side: is the imaginary vertical line whith length equal to the distance from the the Horizontal line and the market high formed above the horizontal. See line 2, in picture A</li>
        <li>Hypotenuse : is the imaginary sloping line that results by linking the market highs corresponding to the bounces formed above the horizontal. See line 3, in picture A</li>
    </ol>


    <br>
    <p>The ideal model of Top Right Triangle has the following characteristics:</p>
    <p>- The bounces above the horizontal line must be at least 2, preferably three, and each corresponding market high starting from left  must be in descending order.</p>
    <p>- Any of these bounces are on average preferable when the velocity from the horizontal to the market high is  less  than the down velocity from the high back to the horizontal. This will result in the up bars  from the horizontal to the high being more/equal in number than the down bars. Not all bounces in a triangle will always look like this but it is important that the last bounce before the break out  presents this characteristic. On average these will be better triangles than the rest.</p>

        <div class="my-tutorial-img pull-right">
            <img src="img/tutorial/top_square_triangle_exampleB.png" />
            <p class="text-align-center">Picture B</p>
        </div>

    <br>
    <p>- The formation of a Top Right Triangle is confirmed when the market breaks and closes below the horizontal line, having previously formed at least two bounces. At this point we have a sell signal, and a stop loss must be placed just above the high of the last bounce before the break out. See picture B that depicts all these properties.</p>
    <p>Below are shown 10 real Top Right triangles found by Yard Charts in the past(Nasdaq, Nyse), which have successfully performed from the day of the buy alarm. That means  the market in the particular stock has fallen a distance  at least equal three times  the distance from the horizontal to the stop, starting from the horizontal line, and without hitting the stop level. The relevant bounces and segments are shown in each picture. The bounce segments and colours, are shown exactly as they appear on the alarm section(Trading Patterns) of this web site.</p>

        <div class="my-tutorial-img my-patterns">
            <img src="img/tutorial/Ebix_Inc.png" />
        </div>
        <div class="my-tutorial-img my-patterns">
            <img src="img/tutorial/Express_Scripts.png" />
        </div>
        <div class="my-tutorial-img my-patterns">
            <img src="img/tutorial/FullCircleCapital.png" />
        </div>
        <div class="my-tutorial-img my-patterns">
            <img src="img/tutorial/Idexx_Laboratories.png" />
        </div>
        <div class="my-tutorial-img my-patterns">
            <img src="img/tutorial/Sypris_Solutions.png" />
        </div>


    <div class="my-back-to-patterns">
        <a href="#/tutorial">View More Models</a>
    </div>

</div>
